    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{PAGE_TITLE}}</title>
    <meta name="description" content="{{PAGE_DESCRIPTION}}">
    <meta name="author" content="Héctor Corbellini">
    <meta name="theme-color" content="#0d1117">
    
    <link rel="canonical" href="https://ukoquique-proves.github.io/favoriteDevPage/{{PAGE_CANONICAL}}">
    
    <meta property="og:title" content="{{PAGE_TITLE}}">
    <meta property="og:description" content="{{PAGE_DESCRIPTION}}">
    <meta property="og:url" content="https://ukoquique-proves.github.io/favoriteDevPage/{{PAGE_CANONICAL}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://ukoquique-proves.github.io/favoriteDevPage/social-share.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{PAGE_TITLE}}">
    <meta name="twitter:description" content="{{PAGE_DESCRIPTION}}">
    <meta name="twitter:image" content="https://ukoquique-proves.github.io/favoriteDevPage/social-share.png">
    
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
    <link rel="shortcut icon" href="favicon.svg">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="components.css">
    <link rel="stylesheet" href="pages.css">
